#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "fusion"
name = "Fusion"
description.en = "Friendly RSS reader"
description.fr = "Lecteur RSS convivial"

version = "1.1.1~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
code = "https://github.com/0x2E/fusion"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    amd64.url = "https://github.com/0x2E/fusion/releases/download/v1.1.1/fusion_linux_amd64.zip"
    amd64.sha256 = "e769e6242ee0f49900f92c254adeabaad3bd9badba786feda8cdf4f12b466daf"
    arm64.url = "https://github.com/0x2E/fusion/releases/download/v1.1.1/fusion_linux_arm64.zip"
    arm64.sha256 = "0ade7e643d012f6fcdcc44a492c3a6cda05a78a9b26c5340e80ea4b19b48533c"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.arm64 = "fusion_linux_arm64.zip"
    autoupdate.asset.amd64 = "fusion_linux_amd64.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    
    [resources.ports]
